body {
    margin: 2em;
    font-family: sans-serif;
    font-size: 90%;
    background: #f8f7f7;
}

label {
    float: left;
    display: block;
    width: 11em;
}

.datefield {
    display: inline;
    padding: .5em;
    border: inset 1px #CCC;
    background: #FFF;
    border-radius: 4px;
    color: #666;
    margin: -40px;
}

.datefield * {
    display: inline-block;
}

.datefield input {
    width: 4em;
    padding: 0 0.4em;
    border: none;
    font-size: 100%;
    background: none;
    color: #000;
    text-align: center;
}

/*.datefield input#year { width:3em; }*/
.datefield input:focus { outline:none; }

.datefield input.submit {
  color: green;
  background-color: black;
  padding: 4px;
  border-radius: 4px;
}
